.center {
    position: absolute;
    left: 10px;
    right: 0;
    margin: auto;
}

.img-thumbnail {
    height: 350px;
    width: 350px;
}

.interest {
    height: 320px;
    width: 320px;
}

.jumbotron {
    background-color: black;
}

.display-3 {
    color: #007bff;
}

.jumboText {
    color: white;
}

.linkA {
    color: #007bff;
}

.navA {
    background-color: black;
}

.navB {
    background-color: #3a3f3f;
}